/* ---------import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Montserrat:ital,wght@0,200;0,400;0,600;0,900;1,700&family=Open+Sans:wght@400;401&family=Roboto:wght@500&family=Sansita+Swashed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;0,900;1,700&family=Open+Sans:wght@400;401&family=Roboto:wght@500&family=Sansita+Swashed:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;0,900;1,700&family=Open+Sans:wght@400;401&family=Roboto:wght@500&family=Sansita+Swashed:wght@500&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

body{

  background-color: #111111;
    
}

.container {
 
}


a {
	text-decoration: none;
}

header {
	
	padding: 20px;
	color: #000;
  padding-top: 50px;
}

.logo{
    margin-left: 0px;
}

header a {
	color: #808082;
    font-weight: 600;
    font-family: montserrat;
    font-size: 18px;
    
}
#toggle {
	display: none;
}

div .icon{
    display: block !important;
}

#toggle:checked + .nav-links {
	display: block;
}
.head{
    display: flex;
    justify-content: space-between;
}


header .nav-links {
	display: none;
}

header label {
	cursor: pointer;
	position: relative;
}

header .nav-links {
	display: none;
}


.nav-links li a:hover{
    color: #e8e808;
    font-weight: 900;
    font-family: montserrat;
    font-size: 18px;
}

.icon {
	width: 30px;
  margin-top: 0px;
}
.icon div {
	height: 3px;
	background: red;
	margin: 3px 0;
}





.nav-links {
	list-style: none;
  margin-right: 200px;
}

.nav-links li {
	padding: 20px 0;
  margin-left: 0px;
}

.nav-links li:nth-child(1) {
	padding-top: 80px;
  
}



.nav-links1 {
    list-style: none;
}

.nav-links1 {
    margin-left: 0px;
    margin-right: 0px;
}

.nav-btn{
 
   
    background-image: linear-gradient(-90deg, #FF8ADC, #965CF2);
    font-family: Hind Siliguri;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border: none;
    padding: 6px 30px;
   border-radius: 26px;
    
}

/* sub menu */

.sub-width{
 
  padding: 50px;
  background: #DF4B05;
}

#submenu {
  display: block;
left: 100;
opacity: 0;
position: absolute;
top: 35px;
background: #DF4B05;



  
}
li:hover ul#submenu {
opacity: 1;
top: 42px;	/* adjust this as per top nav padding top & bottom comes */
visibility: visible;
}
#submenu li {
float: none;
margin-top: 10px;
margin-bottom: 20px;
width: auto;
height: auto;
display: flex;

}

#submenu li:nth-child(1) {
  margin-top: 20px;
}

#submenu a:hover {
background: #DF4B05;
  
}
#submenu a {
background-color:#d72222;
  color: #ffffff;
 
}


.swap img:last-child{display:none}

.swap:hover img:first-child{display:none}

.swap:hover img:last-child{display:inline-block}



/* section2 */

.section2{
  margin-top: 100px;
  margin-left: 30px;
  display: inline-block;
}

.s2-item{
  margin-right: 100px;
}

.s2-item>h3{
  font-family: 'Montserrat';
    font-size: 23px;
    font-weight: 700;
    color: #d72222;
    margin-top: 100px;
}

.s2-item>h1{
  font-family: 'Montserrat';
    font-size: 65px;
    font-weight: 600;
    color: #ffffff;
    
    margin-top: 30px;
}

.s2-item>p{
  font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 30px;
}

.s2-btn{
  background-color: #d72222;
  font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding: 1em 2em;
    margin-top: 30px;
}

.s2-item-image{
  width: 100%;
}


/* section3 */


.section3{
  background-color: #181818;
  
  margin-top: 100px;
  height: 1100px;
  width: 100%;
}

.sub-section1{
  display: inline-block;
  position: relative;
  float: left;
  top: 100px;
  left: 30px;
  
}

.sub-item-1{
  background-color: #1E1E1E;
  padding: 50px;
  margin-top: 100px;
  width: 360px;

  
  
}

.sub-item-1>h1{
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 20px;
  
}

.sub-item-1>p{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  
}


.sub-item-2{
  background-color: #C91B28;
  padding: 50px;
  margin-left: 20px;
  margin-top: 100px;
  width: 360px;
  
  
}

.sub-item-2>h1{
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 20px;
}

.sub-item-2>p{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cta-link1>a{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}



.sub-item-3{
  background-color: #1E1E1E;
  padding: 50px;
  margin-left: 20px;
  margin-top: 100px;
  width: 360px;
}

.sub-item-3>h1{
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 20px;
  
}

.sub-item-3>p{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}


.cta-link>a{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  color: #FF0000;
  text-decoration: none;
}

/* sub-section2 */

.sub-section2{
  display: inline-block;
  position: relative;
  float: left;
  top: 100px;
  left: 30px;
}

.sub-section2-item-1{
  width: 300px;
  margin-top: 50px;
}


.sub-section2-item-1>h1{
  
  font-family: 'Montserrat';
  font-size: 100px;
  font-weight: 900;
  color: #EF4040;
  text-align: center;
}

.sub-section2-item-1>p{
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-top: -20px;
}

.sub-section2-item-2{
  width: 100%;
  display: block;
  margin-left: 0px;
}



.ss-item-2{
  background-color: #1E1E1E;
  width: 380px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
}

.ss-item-2>h1{
  font-family: 'Montserrat';
  font-size: 60px;
  font-weight: 900;
  color: #EF4040;
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
}

.ss-item-2>p{
  font-family: 'Montserrat';
  font-size: 23px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}


/* section 4 */

.section4{
  margin-top: 100px;
  margin-left: 30px;
}

.s3-head{
  display: inline-block;
  margin-top: 150px;
}

.head-item{

}

.head-item>h1{
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 900;
  color: #ffffff;
  
}

.head-item>p{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
  
}

.btn-hi{

margin-left: 0px;
background-color: #EF4040;
font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  padding: 0.5em 2em;
  margin-top: 20px;
  cursor: pointer;

}




/* projects */

.projects{
  margin-top: 100px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
 
}

.project-item{
  margin-bottom: 42px;
  margin-right: 50px;
  width: 600px;
  
}

.pr-img{
  background-color: #1E1E1E;
  padding: 5em 2em;
  margin: 0px auto;
  text-align: center;
  width: 100%;
  height: auto;
  
}

.project-item>h1{
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pr-image {
  width: 100%;
}

/* section5 */
.section5{
  background-color: #1E1E1E;
  margin-top: 50px;
  margin-left: 0px;
  height: auto;
  width: 100%;
}

.s5-content{
  display: inline-block;
  margin-left: 30px;
  width: 420px;
  
}
.s5-content-item{
  margin-top: 30px;
  margin-right: 200px;
  width: 420px;


}

.s5-content-item1{
  margin-top: 100px;
  margin-left: 50px;


}

.s5-content-item>h1{
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.s5-content-item>p{
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
}

.s5-btn{
  background-color: #EF4040;  
  font-family: 'Montserrat';
  font-size: 23px;
  font-weight: 600;
  color: #ffffff;
  padding: 0.5em 2em;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 50px;
  
 
}



/* section6 */

.section6{
  margin-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  }
  
  .s6-menu{
  display: flex;
  text-align: center;
  margin-left: 10%;
  
  }
  
  .s6-items{
  
  }
  
  .s6-items>a{
      text-decoration: none;
      margin-right: 30px;
      font-family: 'Montserrat';
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      text-transform: uppercase;
  }


  /* footer */

  
.footer{
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 50px;
}

.footer-item-2{
  display: flex;
  margin-left: 0px;
}

.footer-item{

  margin-right: 30px;
  margin-top: 30px;

}
  
